body
{
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_div
{
    display: flex;
    border-radius: 30px;
    width: 45%;
    height: 40px;
    background-color: rgba(10, 6, 6, 0.518);
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.459) ;
    margin-top: 0cm;

    justify-content: center;
    
    border: solid;
    border-width: 2px;
    border-color: rgba(250, 249, 249, 0.338);
    backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
flex-direction: row;
    transition: border-color 0.2s ease-in-out;

    vertical-align: middle;
    
}
button
{
    border-radius: 30px;
    
    height: 30px;
    width: 30px;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    border: 0cap;
   
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;

 

}
button .material-symbols-outlined {
    color: rgba(205, 192, 192, 0.722);
    line-height: 1;
    border: 0cap;
    transform: translateY(1px);
    
}
    
input
{
    border: 0cap;
    box-shadow: none;
    outline: 0cap;
    width: 90%;
    
    font-size: large;
    font-family: "Inter", sans-serif;
    background-color: rgba(250, 235, 215, 0);
}

.image
{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-size: cover;
    border-radius: 5px;
    
}
#all_news
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    
    
}
.news
{
    color: white;
    background-color: hsla(0, 0%, 0%, 0.633);
    height: 250px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

    transition: background-color 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

}
hr
{
    color: white;
}
h2
{
    width: 90%;
    
     text-align: left;
     padding-left: 5%;
     color: white;
    text-decoration: underline white;
}
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.search_div:hover
{
    
    border-color: black;
}
.news:hover
{
    background-color: hsla(0, 0%, 0%, 0.8);
    
    width: 215px;
}
@media (max-width: 768px) {
  body {
    background-size: cover;
    

}
#all_news
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    gap: 20px;

}
 .news {
        width: 90%;
        max-width: 350px;
        height: auto;
        text-align: left;
    }

    .search_div {
        width: 90%;
        max-width: 600px;
    }

    input {
        width: calc(100% - 50px);
    }
    h2
{
    width: 90%;
     font-family: "Raleway", sans-serif;
     text-align: left;
     padding-left: 5%;
     color: white;
     border-bottom: 2px solid white;
     text-decoration: none;
}
}